
 <div class="grandParentContaniner">
    <h1 align="center"><font color="lightblue">RESEARCH HUB</font></h1>
  <div class="parentContainer">
     <form class="form-signin" action="/login" method="POST">
     <label>username</label>
     <input type="text" name="username">
     <br><br>
     <label>password</label>
     <input type="password" name="password">
     <br><br>
     <input type="submit" value="login">
     <br><br>
     <p align="center"><a href="/signup">Become a member</a></p>
    
		 </form>
  </div>
 