
 <div class="grandParentContaniner">
    <h1 align="center"><font color="lightblue">RESEARCH HUB</font></h1>
  <div class="parentContainerSignupForm">
   <form action="/signup" method="POST">
     <label for="name">NAME:</label>
     <input type="text" name="name" id="name" placeholder="your name" required>
     <br><br>
     <label for="email">EMAIL: &nbsp &nbsp</label>
     <input type="text" name="email" id="email" placeholder="your email" required>
     <br><br>
    <div>
      <p style="color:red;">
        <% if flash.has?(:message) %>
        <b><%= flash[:message] %></b>
        <% end %>
       </p>
   </div>
     <label for="username">USERNAME:</label>
     <input type="text" name="username" id="username" required>
     <br><br>
     <label for ="password">PASSWORD:</label>
     <input type="password" name="password" id="password" required>
     <br><br>
     <input type="submit" value="submit">
     <br><br>
     <p align="center"><a href="/login">Already have an account? Login</a></p>
		 </form>
  </div>
 </div>